.booster-drop
  border-style dashed
  height 100px
  max-height 100px
  border-color $list-separator-color
  color $label-info-color
  margin 20px
  font-weight bold


.booster-drop-hover-ok
  background-color alpha($button-primary-hover-color , 0.9)

.booster-drop-hover-ko
  background-color alpha($error-color, 0.9)
